body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: #fff;
}

#navbar{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #be3144;
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
    z-index: 10;
}

#nav-list {
    display: flex;
    margin-right: 2rem;
}

#nav-list li {
    list-style-type: none;
}

#navbar ul li a{
    text-decoration: none;
    margin: 2rem;
    color: #fff 
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

h1 {
  font-size: 6rem;
  text-align: center;
  font-family: Poppins;
}

#welcome-section {
    width: 100%;
}

#welcome-section p {
    color: #be3144;
    font-family: Raleway;
}

#projects h2 {
   color: #000;
   text-align: center;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

.project-title {
    font-size: 2rem;
    color: #fff;
    transition: color 0.3s ease-out;
    padding-bottom: 25%;   
    text-decoration: none;
    padding-left: 15%;
}

.project {
    background: #303841;;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    border-radius: 2px;
}

a {
   text-decoration: none;
   color: #fff;
}

.btn-show-all {
    font-size: 1.75rem;
    background: #303841;
    transition: background 0.3s ease-out;
    text-align: center;
    color: #fff;
    margin-left: 42%;
    border-radius: 10%;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}

#contact{
    background-color: #303841;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    margin-top: 10%;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
    color: #fff;
}

.contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: #be3144;
    margin-top: 5%;
}